<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="lansql02" connectionString="Data Source=lansql02;Initial Catalog=jira;user id=NET_ADMIN;password=6QXIQQTd;Connection Timeout=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
